body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  color: #67899c;
  font-size: 14px;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input,
select,
textarea {
  outline: none;
}

input[type=text],
input[type=email],
textarea,
select {
  border: 1px solid #ddd;
}

input[type=text],
input[type=email] {
  padding: 7px 10px;
}

textarea {
  padding: 15px;
}

.btn {
  padding: 8px 20px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn.btn-blue {
  color: #fff;
  background-color: #62b5e5;
}

.btn.btn-red {
  color: #fff;
  background-color: #c12929;
}

.btn:hover {
  opacity: 0.8;
}

.uppercase {
  text-transform: uppercase;
}
